<% include ./partials/_header.ejs%>
<% include ./partials/_navbar.ejs%>
    <div class="container-md">
    <div class="row">
        <div class="col" style="padding-bottom: 40px;">
            <h1 class="text-center text-primary" style="padding-top: 10px;padding-bottom: 10px;">Time Entry</h1>
            <% if(message) { %>
                <p style="color:green;font-size: small;text-align: center;"> <strong> <%= message %> </strong></p>
            <% } %>
            <% if(error) { %>
                <p style="color:red;font-size: small;text-align: center;"> <strong> <%= error %> </strong></p>
            <% } %>
            <form action="/time" method="POST" style="padding-top: 80px;">
                <div class="form-row">
                    <div class="form-group col-12" id="date-input">
                        <label for="date">Date</label>
                        <input class="form-control" type="date" name="date" value=<%= day %> required>
                    </div>
                     <div class="form-group col-md-6 col-sm-12" id="hours-input-1">
                        <label for="hours">Hours</label>
                        <input class="form-control" type="number" name="hours" value="8" step="any">
                    </div>
                    <div class="form-group col-md-6 col-sm-12" id="break-input">
                        <label for="hours">Break</label>
                        <input class="form-control" type="number" name="breakTime" value="20" step="any">
                        <small>Value should be presented in minutes</small>
                    </div>
                    <div class="form-group col-md-6 col-sm-12" id="break-input">
                        <label for="hours">Rate 1</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                              </div>
                            <input class="form-control" type="number" value="0.0" name="rate1" step="any">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12" id="break-input">
                        <label for="hours">Rate 2</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                              </div>
                            <input class="form-control" type="number" value="0.0" name="rate2" step="any">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12" id="break-input">
                        <label for="hours">Rate 3</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                              </div>
                            <input class="form-control" type="number" value="0.0" name="rate3" step="any">
                        </div>
                    </div>
                    <div class="form-group col-12" id="cost-center">
                        <label for="cost-center">Grower</label>
                        <select class="form-control" id="cost-center" name="costCenter">
                            <% for(let center of costCenters){%>
                                <option value=<%= center.code%>><%= center.name%></option>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group" id="employee-input">
                        <label for="employee">Employees</label>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input form-control-lg" type="checkbox" id="checkAll" name="checkAll"/>
                                <label class="form-control-lg">Select All</label>
                                <p class="d-flex" id="checked-count">Selected: 0</p>
                                <hr>
                            </div>
                        </div>
                        <% for(let employee of employees) {%>
                            <div class="form-check">
                                <input class="form-check-input form-control-lg" type="checkbox" name="employees" value=<%= employee.sk %> id="employees">
                                <label class="form-check-label form-control-lg" for="formCheck-1"><%= `${employee.lastName}, ${employee.firstName} ${employee.middleName} ${employee.employeeId}`%></label>
                            </div>
                        <%}%>
                    </div>
                    <button class="btn btn-primary btn-block button-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="javascripts/Table-With-Search.js"></script>
<script src="javascripts/checked-count.js"></script>
<script>
$('#checkAll').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    } else {
        $(':checkbox').each(function() {
            this.checked = false;                       
        });
    }
});

$(document).ready( function(){
    $('input[type="checkbox"]').change(function(){
        let count = $('input[type="checkbox"]:checked').not('#checkAll').length;
        $('#checked-count').html(`Selected: ${count}`);
    });

});
</script>
</body>

</html>